.list {
    width: 200px;
    height: 200px;
    font-size: 20px;
}

.list li {
    margin-top: 10px;
}

.list li a {
    color: #fff;
    text-decoration: none;
}

.list li a:hover {
    text-decoration: underline;
}